<div class="container-fluid">
    <div class="row">
        <div class="col s12">
            <div class="card user-card" id="profile" style="background-image: url(<%= asset_path(@user.user_media.banner_img_url)%>)">
                <div class="card image-profile">
                    <div class="card-image z-depth-4">
                      <a class="dialog-change-photo-profile" href="#modal-change-image">
                        <img class="responsive-img" id="img-profile" src="<%= asset_path(@user.user_media.profile_img_url)%>" style="cursor:pointer">                      
                      </a>
                    </div>
                </div>
                <a href="#modal-change-image" class="dialog-change-banner-profile btn transparent btn-upload-banner"><i class="material-icons">&#xE255;</i></a>
            </div>
        </div>
        <div class="col s9">
            <div class="card-content">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a href="#albums" class="">Albums</a>
                        </li>
                        <li class="tab">
                            <a class="" href="#tracks">Tracks</a>
                        </li>
                        <li class="tab">
                            <a href="#likes" class="active">Likes</a>
                        </li>
                        <div class="indicator" style="right: -0.0500031px; left: 141.05px;"></div>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="albums" style="display: none;" class="">
                    <% if @albums.any? %>
                      <% @albums.each do |album | %>
                        <div class="album_wrapper z-depth-1">
                            <figure>
                                <a href="/music/album/<%=album.id %>">
                                    <img src="<%= asset_path('albums/default_album.jpg')%>"  width="230px">
                                </a>
                            </figure>
                            <div class="song-action">
                                <a class="btn-flat dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">share</i></a>
                                <a class="btn-flat"  href="#!"><i class="material-icons">favorite</i></a>                                                                                              
                                <a class="pre-delete-album  btn-flat" href="#modal-delete-album" data-id-album="<%=album.id %>"><i class="material-icons">delete_forever</i></a>
                                <a class="btn-flat" href=""><i class="material-icons">play_arrow</i>0</a>       
                                <ul id="dropdown2" class="dropdown-content">
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A8000/music/play/<%=album.id %>"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://pinterest.com/pin/create/button/?url=<%= asset_path('albums/default_album.jpg')%>&media=http%3A//localhost%3A8000/music/play/<%=album.id%>&description=<%= album.name %> - <%=album.description%>"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/home?status=http%3A//localhost%3A8000/music/album/<%=album.id %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://plus.google.com/share?url=http%3A//localhost%3A8000/music/album/<%=album.id %>"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>                                    
                                </ul>                            
                            </div>                           
                            <div class="song-dates">
                                <p class="song-title"> <%= album.name %> | <span><%=album.description%></span></p>
                            </div>                            
                        </div>
                      <% end %>
                    <% else %>
                    <h5>No have Albums <a class="btn-flat align-icon-text"  href="/music/create/album">Create Album</a></h5>
                    <hr>
                    <% end %>
                    </div>
                    <div id="tracks" class="" style="display: none;">
                    <% if @songs.any? %>
                        <% @songs.each do |song| %>
                        <div class="song__wrapper z-depth-1">
                            <figure>
                                <a href="/music/play/<%=song.id %>">
                                    <img src="<%= asset_path('songs/default_song.png')%>">
                                </a>
                            </figure>
                            <div class="song-action">
                                <a class="btn-flat dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">share</i></a>
                                <a class="btn-flat"  href="#!"><i class="material-icons">file_download</i></a>  
                                <a class="btn-flat"  href="#!"><i class="material-icons">favorite</i></a>                                                                                              
                                <a class="pre-delete-song  btn-flat" href="#modal-delete-song" data-id-song="<%=song.id %>"><i class="material-icons">delete_forever</i></a>
                                <ul id="dropdown2" class="dropdown-content">
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A8000/music/play/<%=song.id %>"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://pinterest.com/pin/create/button/?url=<%= asset_path('songs/default_song.png')%>&media=http%3A//localhost%3A8000/music/play/<%=song.id %>&description=<%= song.title %> - <%=song.description%>"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/home?status=http%3A//localhost%3A8000/music/play/<%=song.id %>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://plus.google.com/share?url=http%3A//localhost%3A8000/music/play/<%=song.id %>"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>                                    
                                </ul>                            
                            </div>                            
                            <div class="song-dates">
                                <p class="song-title"><%= song.title %> | <span><%=song.description%></span></p>
                                <p>Genre <%=song.genre%></p>
                                <p>Type  <%=song.type%></p>
                                <p>License  <%=song.license%></p>
                                <audio class="col l8 s7 m7" src="<%=song.url_song%>" controls></audio>
                                <a class="btn-flat align-icon-text"  href="#!"><i class="material-icons">play_arrow</i> 0</a>       
                            </div>
                        </div>
                        <% end %>
                    <% else %>
                        <h5>No have songs <a class="btn-flat align-icon-text"  href="/music/create/song">Upload</a></h5>
                        <hr>
                    <% end %>

                    </div>
                    <div id="likes" style="display: block;" class="active">Test 3</div>
                </div>
            </div>
        </div>
        <div class="info--wraper col s3">

        <article class="infoStats">
            <table class="infoStats__table sc-type-small">
                <tbody>
                    <tr>
                        <td class="infoStats__stat sc-link-light sc-border-light-right">
                            <a href="/aboutcarlos/followers" rel="nofollow" class="" title="83 followers">
                                <h3 class="infoTitle">Followers</h3>
                                <div class="">0</div>
                                <!-- COUNT FOLLOWERS -->
                            </a>
                        </td>
                        <td class="infoStats__stat sc-link-light sc-border-light-right">
                            <a href="/aboutcarlos/following" rel="nofollow" class="" title="Following 164 people">
                                <h3 class="infoTitle">Following</h3>
                                <div class="">0</div>
                                <!-- COUNT FOLLOWING -->
                            </a>
                        </td>
                        <td class="infoStats__stat">
                            <a href="/aboutcarlos/tracks" rel="nofollow" class="" title="18 tracks">
                                <h3 class="infoTitle">Tracks</h3>
                                <div class="">0</div>
                                <!-- COUNT TRACKS -->
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="infoStats__description">
                <div class="truncatedUserDescription m-collapsed">
                    <div class="truncatedUserDescription__wrapper" style="max-height: 85px;">
                        <div class="truncatedUserDescription__content">
                            <div>
                              <% if @user.user_information.bio %>
                                <p><%= @user.user_information.bio%></p>
                              <% else %>
                                <p>Add a litle biographic in Setting</p>
                              <% end %>
                            </div>
                        </div>
                    </div>
                    <a class="truncatedUserDescription__collapse sc-link-dark g-link-collapse collapsed" href="#">Show more</a>
                    <!-- Acá habra un modal para el show more -->
                </div>
            </div>
            <div class="web-profiles">
                <ul class="sc-list-nostyle sc-clearfix">
                  <!-- if hay social -->
                    <li class="web-profiles__item">
                        <div class="sc-truncate">
                            <a href="https://exit.sc?url=https%3A%2F%2Fplus.google.com%2Fu%2F0%2F106092849867402977611" target="_blank" rel="me nofollow" class="web-profile sc-link-light">
                                <span class="sc-social-icon sc-social-icon-googleplus"></span>
                                Social
                            </a>
                        </div>
                    </li>
                  <!-- endif -->
                </ul>
            </div>
        </article>
      </div>

    </div>
</div>

<div id="modal-delete-song" class="modal">
    <div class="modal-content">
    <h4>Are you sure delete this song?</h4>
    </div>
    <div class="modal-footer">
    <form id="form-delete-song" action="music/song/>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"
        value="Yes, delete">
    </form>
    </div>
</div>

<div id="modal-change-image" class="modal">
    <div class="modal-content">
        <h4 class="modal-image-type"></h4>
    </div>
    <div class="modal-footer">
        <form id="form-media-profile" action="" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field s3">
                <div class="btn" style="margin:0 !important">
                    <span>Image</span>
                    <input id="image_file_data" type="file" name="file" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Upload image">
            </div>
        </form>
    </div>
</div>

<script>
    $( document ).ready(function() {
        var url = "/auth/setting/media/ajax?type=";

        $(".pre-delete-song").click(function(){
            var song_id = $(this).attr("data-id-song");
            $('#form-delete-song').attr('action', "/music/song/" + song_id);
        });
        $('.dialog-change-photo-profile').tooltip({
            delay: 40,
            tooltip: "Click for change the image profile",
            position: "button"
        });
        $('.dialog-change-banner-profile').tooltip({
            delay: 40,
            tooltip: "Click for change the image profile",
            position: "top"
        });
        $(".dialog-change-photo-profile").click(function(){
            $(".modal-image-type").text("Change image profile");
            $("#form-media-profile").attr("action", url + "photo")
            
        });
        $(".dialog-change-banner-profile").click(function(){
            $(".modal-image-type").text("Change banner");
            $("#form-media-profile").attr("action", url + "banner")
        });

        $("#form-media-profile").submit(function(e){
            e.preventDefault();
            var file_data = $('#image_file_data').prop('files')[0];
            var form_data = new FormData();                  
            form_data.append('file', file_data);
            alert(form_data);             
            $.ajax({
                url:  $("#form-media-profile").attr("action"),
                type: 'POST',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,                
                data: form_data
                })
                .done(function(response) {
                if(response.img_profile){
                    $("#img-profile").attr("src", "/assets/" + response.img_profile)
                }
                if(response.img_banner){
                    $("#profile").css("background-image", "url(/assets/" + response.img_banner +  ")");  
                    console.log(response.img_banner);
                }
                console.log("success");
                })
                .fail(function() {
                console.log("error");
                })
                .always(function() {
                console.log("complete");
            });        
        });

    });

</script>