<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="<%= asset_path('dist/css/materialize.min.css') %>" />
  <link rel="stylesheet" type="text/css" href="<%= asset_path('style.css') %>" />
  <link href="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/gallery-materialize.min.opt.css?16391932235316416049" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="<%= asset_path('dist/jquery.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/jquery.validate.min.js') %>"></script>  
  <script type="text/javascript" src="<%= asset_path('dist/additional-methods.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/js/materialize.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('app.js') %>"></script>
</head>
<body>
  <nav class="nav-extended">
    <div class="nav-background">
      <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?16391932235316416049');"></div>
    </div>
    <div class="nav-wrapper db">
      <a href="/admin" class="brand-logo"><i class="material-icons">library_music</i>Admin</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <main>
  <%= yield %>
  <%= styled_flash %>
  </main>

  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 class="modal-flash-description"></h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>

<script>$(document).ready(function(){ $('.modal').modal(); });</script>
</body>
</html>