<div class="container">
  <div class="row">
  <div class="col s8">
  <h5 class="center-align" style="box-shadow: 0 0 2px 0px black;">New Songs</h5>
  <% if !@songs.any? %>
    <h4>No have songs...</h4>
  <% else %>
        <% @songs.each do |song| %>
            <div class="sound_body">
                <div class="sound_body_genre">
                    <h5 class="center-align"><%=song.genre.capitalize%></h5>
                    <a class="btn" href="#!" data-id-song="<%=song.id %>"><i class="material-icons">favorite</i><%= song.user_like_songs.count %></a>
                    <a class="btn" href="#!" id="song-replay"><i class="material-icons">play_arrow</i><%= song.replay %></a>
                </div>
                <figure>
                    <a href="/music/song/<%= song.id %>">
                    <img src="<%= asset_path(song.song_img_url)%>" alt="song image">
                    </a>
                </figure>
                <div class="information">
                    <h4 class="center-align">
                        <small><%= song.description %></small>
                        <%= song.title %>
                    </h4>
                </div>
                <small class="timestamp">later <%= song.created_at %> hours ago</small>
                <audio data-id="<%=song.id%>" src="<%= song.url_song %>" controls></audio>
            </div>
        <% end %>
  <% end %>
  </div>

<div class="col s4">
    <h5 class="center-align" style="box-shadow: 0 0 2px 0px black;">New Albums</h5>
    <ul class="collection">
    <% if !@albums.any? %>
        <h4>No have albums...</h4>
    <% else %>
        <% @albums.each do |album| %>
            <li class="collection-item avatar album">
                <a href="/music/album/<%= album.id %>" class="album-description" data-tooltip="<%=album.description%>">
                <img src="<%= asset_path(album.album_img_url)%>" alt="" class="circle" style="margin-top: 3%;">
                <span class="title"><%=album.name%></span>
                <p> <% album.album_tags.each do |tag| %> <%=tag.name%> | <% end %> </p>
                </a>
                <hr>
            </li>
        <% end %>
    <% end %>
    </ul>
  </div>
<div class="col s4">
  <h5 class="center-align" style="box-shadow: 0 0 2px 0px black;">Last comments</h5>
  <ul class="collection">
    <% if !@comments.any? %>
        <h4>No have comments...</h4>
    <% else %>
      <% !@comments.each do | i | %>
        <li class="collection-item last-comment">
            <small>later 2 hours ago</small>
            <span class="title"><a href="/auth/profile/<%=i[:user_id]%>"><%=i[:username] %></a> say:</span>
            <blockquote><%=i[:text] %></blockquote>
            <span class="title">In Song: <a href="/music/song/<%=i[:song_id]%>"><%=i[:song_title] %></a></span>
            <br>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
</div>
</div>


<script>$('.album-description').tooltip({delay: 40,position: "right"});</script>