<!DOCTYPE html>

<html lang="en">
<head>
  <title><%= @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="<%= asset_path('dist/css/materialize.min.css') %>" />
  <link rel="stylesheet" type="text/css" href="<%= asset_path('css/font-awesome.min.css') %>" />
  <link rel="stylesheet" type="text/css" href="<%= asset_path('style.css') %>" />
  <script type="text/javascript" src="<%= asset_path('dist/jquery.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/jquery.validate.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/additional-methods.min.js') %>"></script>
  <script type="text/javascript" src="<%= asset_path('dist/js/materialize.min.js') %>"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="nav-extended">
  <div class="nav-background">
    <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?16391932235316416049');"></div>
  </div>
  <div class="nav-wrapper db">
    <a href="/" class="brand-logo"><i class="material-icons">library_music</i>Frank Sinatra App</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="bt hide-on-med-and-down">
      <li class="k"><a href="/">Home</a></li>
      <% if @current_user.is_anonimous %>
      <li><a href="/auth">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
      <% else %>
       <!-- VERSION 2 <li class=""><a href="/pages/demo">Messages</a></li> -->
        <li>
          <a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true" data-constrainWidth="false">
            <%= @current_user.name %> <i class="material-icons bt">arrow_drop_down</i>
          </a></li>
        <ul id='feature-dropdown' class='dropdown-content'>
          <% if @current_user.permission_level == 2 %>
            <li><a href="/admin"><i class="menu-anchor-icon material-icons">apps</i>Admin</a></li>
          <% end %>
          <li><a href="/auth/profile/<%= session[:user]%>"><i class="menu-anchor-icon material-icons">library_music</i>Profile</a></li>
          <li><a href="/music/create/song"><i class="menu-anchor-icon material-icons">add_box</i>Upload</a></li>
          <li><a href="/music/create/album"><i class="menu-anchor-icon material-icons">album</i>Create Album</a></li>          
          <li><a href="/auth/setting"><i class="menu-anchor-icon material-icons">settings_applications</i>Setting</a></li>
          <li><a href="/auth/change_password"><i class="menu-anchor-icon material-icons">vpn_key</i>Change password</a></li>
          <li><a href="/auth/logout"><i class="menu-anchor-icon material-icons">exit_to_app</i>Logout</a></li>
        </ul>
      <% end %>
    </ul>
  </div>
</nav>
<%= styled_flash %>
<main>
  <%= yield %>
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4 class="modal-flash-description"></h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>
</main>

<footer class="page-footer grey lighten-1">
  <div class="container">
    <div class="row" style="margin-bottom:0">
      <div class="col s6 offset-s4">
      <code>'create with love in sinatra!'</code>
      </div>
    </div>
  </div>
</footer>

<script>$(document).ready(function(){$('.modal').modal();});</script>
<script type="text/javascript" src="<%= asset_path('app.js') %>"></script>
</body>
</html>
