<div class="row">
  <div class="col s6 m8">
        <figure class="song-figure">
          <img src="<%= asset_path(@album.album_img_url)%>">
        </figure>
        <div class="song-action" style="margin-top:15px">
              <a class="btn-flat dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">share</i></a>
              <a class="btn-flat"  href="#!"><i class="material-icons">file_download</i></a>  
              <a class="btn-flat"  href="#!"><i class="material-icons">favorite</i></a>                                                                                              
              <a class="pre-delete-song  btn-flat" href="#modal-delete-song"><i class="material-icons">delete_forever</i></a>
              <ul id="dropdown2" class="dropdown-content">
                  <li><a href="<%=@message.facebook_url%>"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="<%=@message.pinterest_url%>"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                  <li><a href="<%=@message.twitter_url%>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="<%=@message.google_url%>"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>                                  
              </ul>                            
        </div>             
        <figcaption>
          <p><%=@album.name%></p>
          <p><%=@album.description%></p>
          <p><%=@album.date%></p>
          <% @album.album_tags.each do |tag| %>
            <span><%=tag.name%> - </span>
          <% end %>   
          <h5><a href="/auth/profile/<%= @user.id %>">Author: <%= @user.username %></a></h5>

        </figcaption>
    </div>
    <div class="col s8">
      <ul class="collection">
      <% @album.songs.each do |song| %>
        
          <li class="collection-item avatar">
            <a href="/music/song/<%=song.id %>"><img src="<%= asset_path(song.song_img_url)%>" alt="" class="circle"></a> 
            <span class="title"><%=song.title%></span>
            <p>
               - <%=song.description%>
               <br>
               Genre: <%=song.genre%>
               <br>
            </p>
            <audio src="<%=song.url_song%>" controls></audio>     
            <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
          </li>
                 
      <% end %>    
      </ul>
    </div>
</div>



<div id="modal-delete-song" class="modal">
    <div class="modal-content">
    <h4>Are you sure delete this album?</h4>
    </div>
    <div class="modal-footer">
    <form id="form-delete-song" action="/music/album/<%=@album.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"
        value="Yes, delete">
    </form>
    </div>
</div>
         