<div class="row">
  <div class="col s6 m7">
      <a class="change-image-album" href="#modal-change-image">
        <figure class="song-figure">
            <img src="<%= asset_path(@album.album_img_url)%>">
        </figure>
      </a>
        <div class="song-action" style="margin-top:15px">
              <a class="btn-flat dropdown-button" href="#!" data-activates="dropdown2"><i class="material-icons">share</i></a>
              <a class="btn-flat"  href="#!"><i class="material-icons">file_download</i></a>  
              <a class="btn-flat"  href="#!"><i class="material-icons">favorite</i></a>                                                                                              
              <a class="pre-delete-album  btn-flat" href="#modal-delete-album"><i class="material-icons">delete_forever</i></a>
              <a href="/music/edit/album/<%= @album.id %>" class="btn-flat"><i class="material-icons">mode_edit</i></a>              
              <ul id="dropdown2" class="dropdown-content">
                  <li><a href="<%=@message.facebook_url%>"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="<%=@message.pinterest_url%>"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                  <li><a href="<%=@message.twitter_url%>"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="<%=@message.google_url%>"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>                                  
              </ul>                            
        </div>             
        <figcaption>
          <p><%=@album.name%></p>
          <p><%=@album.description%></p>
          <p><%=@album.date%></p>
          <% @album.album_tags.each do |tag| %>
            <span><%=tag.name%> - </span>
          <% end %>   
          <h5><a href="/auth/profile/<%= @user.id %>">Author: <%= @user.username %></a></h5>
        </figcaption>
    </div>
    <div class="col s5">
      <ul class="collection">
      <% @album.songs.each do |song| %>
          <li class="collection-item avatar">
            <a href="/music/song/<%=song.id %>"><img src="<%= asset_path(song.song_img_url)%>" alt="" class="circle"></a> 
            <span class="title"><%=song.title%></span>
            <p>
               - <%=song.description%>
               <br>
               Genre: <%=song.genre%>
               <br>
            </p>
            <audio src="<%=song.url_song%>" controls></audio>     
            <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
          </li>
      <% end %>    
      </ul>
    </div>      
    <div class="col s7">
        <form id="form-comment" action="/music/comment/album/<%= @album.id %>" method="POST">
            <div class="input-field">
                <i class="material-icons prefix"></i>
                <input class="input-comment" placeholder="Comment..." maxlength="100" type="text" name="comment" required>
                <label>Write a comment</label>
            <button class="btn-floating btn-large waves-effect waves-light red" type="submit" name="action">
                 <i class="material-icons">add</i>
            </button>
            </div>
        </form>
    </div>
    <div class="col s7">
        <ul class="collection comments">
            <% unless @album.comment_albums.any? %>
                <li class="collection-item avatar no-exist">
                    <span class="title">This Album no have comments</span>
                </li>
            <% end %>                     
        </ul>        
    </div>  
</div> <!-- end row -->

<div id="modal-delete-album" class="modal">
    <div class="modal-content">
    <h4>Are you sure delete this album?</h4>
    </div>
    <div class="modal-footer">
    <form id="form-delete-song" action="/music/album/<%=@album.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"
        value="Yes, delete">
    </form>
    </div>
</div>

<div id="modal-change-image" class="modal">
    <div class="modal-content">
        <h4 class="modal-image-type">Upload any image</h4>
    </div>
    <div class="modal-footer">
        <form id="form-update-image-album" action="/music/edit/album/<%= @album.id  %>?mode=image">
            <div class="file-field input-field s3">
                <div class="btn" style="margin:0 !important">
                    <span>Image</span>
                    <input id="image_file_data" type="file" name="file" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
                <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Upload image">
            </div>
        </form>
    </div>
</div>

<script>



  $( document ).ready(function() {
    // REQUEST FOR COMMENT DATA FOR THIS SONG
    $.get({
        url: '/music/search_comment/album/<%=@album.id%>',
        dataType: "json",

    }).done(function(response) {
        console.log(response.query);
        $('.collection').css("display", "none");
        for (let i = 0, len = response.query.length; i < len; i++) {
            var comment = response.query[i];
            $('.collection.comments').append(`<a href="/auth/profile/${comment.user_id}"> \
                                    <img src='/assets/${comment.photo}' alt='user photo image' width="60px" class='circle'> \
                                    <li class='collection-item avatar'> \
                                        <span class='title'>${comment.username} | ${comment.text} </span> \
                                    </li>`);
        }
    })
    .fail(function() {
        console.log("error");
    })
    .always(function() {
        $('.collection').fadeIn(3200);
    });  

    $(".change-image-album").tooltip({
        delay: 40,
        tooltip: "Click for change the image",
        position: "button"
    });

    $("#form-update-image-album").validate({
      rules: {
        image_file_data:{
          required: true,
          extension: 'png|jpeg|jpg',
        }
      },
      submitHandler: function (form) {
        var file_data = $('#image_file_data').prop('files')[0];
        var form_data = new FormData();                  
        form_data.append('file', file_data);
          $.ajax({
            url:  $("#form-update-image-album").attr("action"),
            type: 'POST',
            dataType: 'json',
            cache: false,
            contentType: false,
            processData: false,                
            data: form_data
            })
            .done(function(response) {
              if(response.error){
                  $('#modal1').modal("open")
                  $(".modal-flash-description").text("Only images!");
              }
              else if (response.album_image){
                  $(".song-figure img").attr("src", "/assets/" + response.album_image)
              }
            })
            .fail(function() {
              console.log("error");
            })
            .always(function() {
              console.log("complete");
            });      
      }
    });

  });
</script>
         