<% if @songs.any? %>
    <% @songs.each do |song| %>
      <a href="/music/song/<%=song.id %>"> <%= song.title %> </a>
      <h2><%=song.description%></h2>
      <h2><%=song.genre%></h2>
      <h2><%=song.type%></h2>
      <h2><%=song.license%></h2>
      <hr>
    <% end %>
<% else %>
  <h1>No have songs</h1>
<% end %>
