<style>
.select-song{
    color:#00cd67
}
</style>
<div class="container" style="margin-top:2.5%">
    <div class="row">
      <div class="col s7">
        <% if @mode == "EDIT" %>
            <h3> Edit your Album </h3>
        <% else %>
            <h3>Create Album</h3>
        <% end %>        

        <form id="user_create_album"
            <% if @mode == "EDIT" %>
                action="/music/edit/album/<%= @album.id %>?mode=all"
            <% else %>
                action="/music/create/album"
            <% end %> method="POST" enctype="multipart/form-data">
            <% if !@mode %>
                <label>Album Image</label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file" > 
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload image">
                    </div>
                </div>
            <% end %>

                <input id="input-hidden-id-song" hidden type="text" name="songs_id"
                    <% if @mode == "EDIT" %>
                       <% if @album.songs.any? %>
                        value="<%= @id_songs %>">
                        <% else %>
                        >
                       <% end %>
                    <% else %>
                        >
                    <% end %>

                <input id="input-hidden-tag-album" hidden type="text" name="tags"
                <% if @mode == "EDIT" %>
                    value="<%= @name_tags %>">
                <% else %>
                    >                
                <% end %>

                <% if @mode == "EDIT" %>
                    <input id="input-hidden-id-song-delete" hidden type="text" name="tags">
                <% end %>

            <div class="input-field">
                <i class="material-icons prefix"></i>
                <input placeholder="Name of album" type="text" name="name"
                <% if @mode == "EDIT" %>
                    value="<%= @album.name %>">
                <% else %>
                    >                  
                <% end %>
                <label>Name</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix"></i>
                <input placeholder="Date of album" type="text" name="date" class="datepicker"
                <% if @mode == "EDIT" %>
                    value="<%= @album.date %>">
                <% else %>
                    >                  
                <% end %>                
                <label>Date</label>
            </div>

            <div class="input-field">
                <i class="material-icons prefix"></i>
                <input placeholder="Description of the album" type="text" name="description"
                <% if @mode == "EDIT" %>
                    value="<%= @album.description %>">
                <% else %>
                    >                  
                <% end %>                   
                <label>Description</label>
            </div>

            <div class="chips chips-autocomplete" style="visible:visible;display:block;opacity:1">
                <input id="chips-id" class="input" placeholder="" name="chips"  style="visible:visible;display:block;opacity:1" >
                <ul class="autocomplete-content dropdown-content"></ul>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Create Album
                <i class="material-icons right">send</i>
            </button>
        </form>            
    </div>
    <div class="col s5" style="height: 550px;overflow-y: overlay;">
      <div class="block-choose-song">
        <ul class="collection">
        <% if @songs.any? %>
          <% @songs.each do |song| %>        
          <li class="collection-item avatar">
            <img src="<%= asset_path(song.song_img_url)%>" alt="song image" class="circle">
            <span class="title"><%= song.title%></span>
            <a href="#!" class="secondary-content align-icon-text" style="margin-right:50px"><i class="material-icons">play_arrow</i> <%= song.replay %></a> 
            <a href="#!" data-id-song="<%=song.id %>" class="add_song secondary-content"><i class="material-icons">add_circle</i></a>
          </li>
          <% end %>
        <% else %>
          <li class="collection-item avatar">
            <span class="title">You not have a Songs | </span>
            <span class="title"><a href="/music/create/song">Upload Songs</a></span>
          </li>
        <% end %>                     
        </ul>
      </div>
    </div>
  </div>
</div>

<script>

$( document ).ready(function() {
  var id_songs_array = [];
  var id_songs_delete_array = [];
  var hidden_input = $("#input-hidden-id-song"); // input escondido donde pondre los id

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

  $('button.btn-flat.picker__today:nth-child(1)').css("padding-left", "0");
  $('button.btn-flat.picker__today').css("font-size","1.1em");
  
  <% if @mode == "EDIT" %>

        var hidden_input_delete_song = $("#input-hidden-id-song-delete");

        <% if @name_tags.split(",").any? %>
            
            var arr_tag = [
            <% @name_tags.split(",").each do | tag | %>
                {tag: "<%= tag.to_s %>"},
            <% end %>
            ];

            $('.chips-autocomplete').material_chip({
                data: arr_tag
            });
        <% end %>
        <% if @id_songs.split(",").any? %>
            
            <% @id_songs.split(",").each do | id | %>
                song_id = "<%= id.to_s %>";
                song_buttons = $(".add_song");
                for (j = 0, len = song_buttons.length; j < len; j++) {
                    field = song_buttons[j];
                    if($(field).attr("data-id-song") == song_id){
                        $(field).addClass("select-song");
                        id_songs_array.push(song_id);
                    }
                }
            <% end %>
        hidden_input.val(id_songs_array.toString());
        <% end %>

  <% else %>

        $('.chips-autocomplete').material_chip({
            placeholder: 'Enter a tag',
            secondaryPlaceholder: '+Tag',
            autocompleteOptions: {
            limit: 10,
            minLength: 1
            }
        });

  <% end %>

  // ----- Functionality: add songs to album.
    $(".add_song").click(function(){
        var song_id = $(this).attr("data-id-song"); // song id
        
        if ($(this).hasClass("select-song")) {
            $(this).removeClass("select-song");
            id_songs_delete_array.push(song_id);
            id_songs_array.splice(id_songs_array.indexOf(song_id), 1);
        }

        else {
            $(this).addClass("select-song");
            id_songs_array.push(song_id);
            id_songs_delete_array.splice(id_songs_delete_array.indexOf(song_id), 1);
        }

        if (typeof hidden_input_delete_song !== 'undefined') {
            console.log(hidden_input_delete_song)
            hidden_input_delete_song.val(id_songs_delete_array.toString());
        }

        hidden_input.val(id_songs_array.toString());

    });

});


</script>